.chat-room {
    float: right;

    width: 20%;
    height: 700px;
    right: 0px;
    margin-bottom: 2.5%;
    margin-right: 2.5%;
    background-color: red;
}

.chat-interface {
    height: 50px;
}

.chat-messages {
    height: 350px;
}

.chat-message {

}
