.chat-room {
    float: right;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.chat-interface {
    height: 5%;
}

.chat-messages {
    height: 95%;
}

#chat-messages {
  word-wrap: break-word;
  overflow-y: scroll;
  height: 95%;
}
