#gameField {
    border: 1px solid black;
    position: relative;
}

.gameWindow {
    
    overflow: hidden;
    display: block;
    margin-left: 2.5%;
    margin-right: auto;
    background-color: green;
    float: left;
}
