.ranking{
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.scoreboard {
width: 45%;
height: 90%;
border: 1px solid black;
float: left;
margin-left: 5%;
}

.playerProfile {
  width: 45%;
  height: 90%;
  border: 1px solid black;
  float: left;
}
.col1-3 {
  float: left;
}

.centers {
  text-align: center;
}

.Button {
  border: none;
  font-size: 20px;
  background-color: #fff;
  color: #555;
  margin-bottom: 1%;
}

.Button:hover {
  color: #3498db;
}

tr {
  width: 100%;
}

tr:hover{
  background-color: #3498db;
  color: #fff;
}

td {
  text-align: center;
  width: 33%;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #555;
}
