.App {
  text-align: center;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.active {
  font-weight: 500;
}

img {
  float:left;
  height: 50px;
}

#left {
  float:left;
}

#navbar {
  margin-top: 15px;
  margin-bottom: 15px;
}

#header {
  margin-top: 10px;
}
