html {
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

a:visited,
a:link {
  padding: 8px;
  color: #3498db;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s;
  color: 0.2s
}

a:hover,
a:active {
  color: #555;
  border-bottom: 2px solid #3498db;
}

img {
  float:left;
  height: 50px;
}

#left {
  float:left;
}

#navbar {
  margin-top: 15px;
  margin-bottom: 15px;
}

#header {
  margin-top: 10px;
}
